<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.learning.tyh.manager.dao.ItemCatMapper" >
  <resultMap id="BaseResultMap" type="edu.learning.tyh.pojo.ItemCat" >
    <id column="catid" property="catid" jdbcType="VARCHAR" />
    <result column="catname" property="catname" jdbcType="VARCHAR" />
    <result column="catstate" property="catstate" jdbcType="INTEGER" />
    <result column="catorder" property="catorder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    catid, catname, catstate, catorder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from itemcat
    where catid = #{catid,jdbcType=VARCHAR}
  </select>
  
  <!-- 查询所有的商品分类 -->
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from itemcat
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from itemcat
    where catid = #{catid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.learning.tyh.pojo.ItemCat" >
    insert into itemcat (catid, catname, catstate, 
      catorder)
    values (#{catid,jdbcType=VARCHAR}, #{catname,jdbcType=VARCHAR}, #{catstate,jdbcType=INTEGER}, 
      #{catorder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.learning.tyh.pojo.ItemCat" >
    insert into itemcat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="catid != null" >
        catid,
      </if>
      <if test="catname != null" >
        catname,
      </if>
      <if test="catstate != null" >
        catstate,
      </if>
      <if test="catorder != null" >
        catorder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="catid != null" >
        #{catid,jdbcType=VARCHAR},
      </if>
      <if test="catname != null" >
        #{catname,jdbcType=VARCHAR},
      </if>
      <if test="catstate != null" >
        #{catstate,jdbcType=INTEGER},
      </if>
      <if test="catorder != null" >
        #{catorder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.learning.tyh.pojo.ItemCat" >
    update itemcat
    <set >
      <if test="catname != null" >
        catname = #{catname,jdbcType=VARCHAR},
      </if>
      <if test="catstate != null" >
        catstate = #{catstate,jdbcType=INTEGER},
      </if>
      <if test="catorder != null" >
        catorder = #{catorder,jdbcType=INTEGER},
      </if>
    </set>
    where catid = #{catid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.learning.tyh.pojo.ItemCat" >
    update itemcat
    set catname = #{catname,jdbcType=VARCHAR},
      catstate = #{catstate,jdbcType=INTEGER},
      catorder = #{catorder,jdbcType=INTEGER}
    where catid = #{catid,jdbcType=VARCHAR}
  </update>
</mapper>